
@import '../../../scss/mixins.scss';

@mixin menu_common() {
  width: 100%;
  background-color: $color_primary;
  text-transform: uppercase;
  font-weight: 700;
  position: fixed;
  z-index: 3;
  top: 0;
  overflow: hidden;
}

@mixin a_common() {
  text-align: center;
  transition: all 200ms;
  color: #fff;
  &:hover {
    background-color: #999;
    color: $color_primary
  }
}

.main-menu {
  height: 45px;
  @include mobile {
    display: none;
  }
  @include menu_common();

  &__logo {
    overflow: hidden;
    height: 52px;
    text-align: center;
    &__img {
      margin: 12px auto 0;
      display: inline-block;
    }
  }
  a {
    line-height: 3rem;
    @include a_common();
  }
  &-mobile {
    display: none;
    height: 4rem;
    @include menu_common();
    @include mobile {
      display: block;
    }
    a {
      line-height: 4rem;
      border-bottom: 1px solid #fff;
      @include a_common();
    }
    &__options {
      border-right: 1px solid #fff;
      position: fixed;
      width: 60vw;
      top: 0;
      background-color:  $color_primary;
      margin-left: -60vw;
      transition: all 300ms;
      height: 100%;
    }
    &__button {
      background-color: transparent;
      color: transparent;
      border: 1px solid #fff;
      margin: 8px;
      &:focus {
        background-color: yellow !important;
        color: yellow ;
        & ~ .main-menu-mobile__options {
          margin-left:0;
        }
      }
    }
  }
}