
@import '../../../../scss/mixins.scss';

.footer-menu {
  &__title {
    text-transform: uppercase;
  }
  &__list {
    padding: 0;
    margin: 0;
    * {
      list-style-type: none;
      font-size: 13px;
      @include mobile() {
        font-size: 22px;
      }
    }
    li {
      @include mobile() {
        padding: 22px 0 9px 0;
        border-top: 1px solid #eaeaea;
        font-size: 22px;
        text-indent: 8px;
      }
    }
    a {
      color: #aaa;
      display: block;
      margin-bottom: 10px;
      line-height: 16px;
    }
  }
}