.footer-menu {
  &__title {
    text-transform: uppercase;
  }
  &__list {
    padding: 0;
    margin: 0;
    * {
      list-style-type: none;
      font-size: 13px;
    }
    a {
      color: #aaa;
      display: block;
      margin-bottom: 10px;
      line-height: 16px;
    }
  }
}