.help-box{
  background-color: #46474a;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  &--bg {
    background-image: url('../../../assets/img/bg-help-box.png');
  }
  &__content {
    background-color: #F4F4F5;
    margin: 66px auto;
  }
}