
@import '../../../scss/_vars.scss';

// background-image: url('../assets/img/open.jpg');
.header {
  background-color: #46474a;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 305px;
  &--form {
    background-image: url('../../../assets/img/open.jpg');
  }
  &__opening{
    position: relative;
    height: 175px;
    width: 100%;
    max-width: $max_width_container;
    margin: 0 auto;
    text-align: center;
    &__box {
      color: #fff;
      height: inherit;
      margin-top: 52px;
      position: absolute;
      width: 100%;
      &--opacity{
        opacity: 0.5;
        background-color: $color_primary;
        height: 194px;
      }
      h1{
        padding: 40px 0 0 0;
        margin: 0;
        font-size: 60px;
        text-transform: uppercase;
        font-weight: normal
      }
      h2 {
        margin: 0;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: normal
      }
    }
  }
}