
@import '../../../scss/mixins.scss';

@mixin remove_paddings () {
  @include mobile {
    padding: 0;
  }
}
.form{
  &__input {
    &--error {
      border: 1px solid red;
      & ~ .form__input__error-message{
        display: block;
      }
    }
    &__error-message {
      display: none;
      position: absolute;
      bottom:0;
      text-indent: 4px;
    }
  }
  &__inp{
    padding: 0 20px 0 0;
    position: relative;
    height: 4.5rem;
    margin-bottom: .5rem;
    @include remove_paddings();
    &:nth-child(even) {
      padding: 0  0 0 20px;
      @include remove_paddings();
    }
    &--multi {
      padding: 0 20px;
      position: relative;
      height: 4.5rem;
      margin-bottom: .5rem;
      @include remove_paddings();
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}