@import '_vars.scss';
h1, h2 {
  margin: 0;
  padding: 0;
}
body {
  font-size: $fontSize;
  padding-top: 45px;
  font-family: 'Roboto', sans-serif;
  background-color: $color_secundary;
  box-sizing: border-box;
}

a {
  text-decoration: none
}
.container {
  max-width: $max_width_container;
  margin: 0 auto;
}

.icon{
  background-image: url('../assets/img/icons-sprite.png');
  background-repeat: no-repeat;
  color: transparent;
  display: table;
  &__logo {
    background-position: -7px -6px;
    width: 62px;
    height: 30px;
  }
  &__search {
    border: 0;
    background-color: transparent;
    background-position: -60px -48px;
    height: 16px;
    width: 16px;
    color: transparent;
  }
  &__message {
    height: 20px;
    width: 20px;
    display: block;
    background-position: -80px -8px;
  }
  &__social{
    &--newsletter {
      border: '1px solid red'
    }
  }
}
.title {
  &--main {
    font-size: 40px;
    margin: 56px 0;
  }
}
// grid
$class-slug: col;
$base: (100 / 12);
@for $i from 1 through $grid {
  .#{$class-slug}_#{($i)} {
    float: left;
    box-sizing: border-box;
    width: ($base * $i )+%;
    display: block;
    padding: 0 $gutter;
  }
}