@import '_vars.scss';
@import 'mixins.scss';

body {
  font-size: $fontSize;
  padding-top: 45px;
  font-family: 'Roboto', sans-serif;
  background-color: $color_secundary;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #aaa;
}
.right {
  float: right !important;
}
.btn {
  width: 100%;
  height: 40px;
  border: 0;
  &__confirm {
    background-color: #005B9D;
    color: #fff;
  }
}
.container {
  max-width: $max_width_container;
  margin: 0 auto;
  padding: 0 ($gutter * 2)+px;
}
select, input{
  height: 40px;
  width: 100%;
  border: 0;
}
.icon{
  background-image: url('../assets/img/icons-sprite.png');
  background-repeat: no-repeat;
  color: transparent;
  display: table;
  &__logo {
    background-position: -7px -6px;
    width: 62px;
    height: 30px;
  }
  &__search {
    border: 0;
    background-color: transparent;
    background-position: -60px -48px;
    height: 16px;
    width: 16px;
    color: transparent;
  }
  &__message {
    height: 20px;
    width: 20px;
    display: block;
    background-position: -80px -8px;
  }
  &__menu {
    background-position: -71px -105px;
    width: 36px;
    height: 36px;
  }
  &__social{
    display: block;
    height: 22px;
    width: 22px;
    float: left;
    margin-right:8px;
    margin-top: -4px;
    position: relative;
    &--newsletter {
      background-position: -8px -48px;
    }
    &--instagram {
      background-position: -8px -72px;
    }
    &--twitter {
      background-position: -8px -96px;
    }
    &--tumblr {
      background-position: -8px -120px;
    }
    &--linkedin {
      background-position: -8px -144px;
    }
    &--facebook {
      background-position: -34px -49px;
    }
    &--pinterest {
      background-position: -34px -73px;
    }
    &--youtube {
      background-position: -34px -97px;
    }
    &--google {
      background-position: -34px -121px;
    }

  }
}
.title {
  &--main {
    font-size: 40px;
    margin: 56px 0;
    @include mobile() {
      font-size: 26px;
    }
  }
  &--box {
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: $color_primary;
    @include mobile() {
      font-size: 22px;
    }
  }
}
// grid
$class-slug: col;
$class-slug-m: m_col;
$base: (100 / 12);
@for $i from 1 through $grid {
  .#{$class-slug-m}_#{($i)} {
    float: left;
    box-sizing: border-box;
    width: ($base * $i )+%;
    display: block;
    padding: 0;
  }
  .#{$class-slug}_#{($i)} {
    float: left;
    box-sizing: border-box;
    width: ($base * $i )+%;
    display: block;
    padding: 0;
    @include mobile {
      width: 100%;
    }
  }
}

@media only screen and (max-width: $break-mobile) {
  *[class^="col"] {
      width: 100%;
  }
}