@import '_vars.scss';

body {
  padding-top: 3rem;
  font-family: 'Roboto', sans-serif;
  background-color: $color_secundary;
}

a {
  text-decoration: none
}
.container {
  display: flex;  
  flex-flow: row wrap;
}
.col {
  flex: 1 auto;
}